version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.1
  
commands:
  run_maven:
    parameters:
      env:
        default: "uat"
        type: string
    steps:
      - run:
          command: mvn test -Denv=<<parameters.env>>
          name: Run Tests

  run_test:
    steps:
      - restore_cache:
          key: maven-v1-{{ checksum "pom.xml" }}
      - run_maven
      - save_cache:
          key: maven-v1-{{ checksum "pom.xml" }}
          paths:
            - ~/.m2/repository
      - store_test_results:
          path: target/surefire-reports
      - store_artifacts:
          path: report
jobs:
  chrome:
    working_directory: /home/testam
    docker:
      - image: cimg/openjdk:16.0.0-browsers
    steps:
      - browser-tools/install-chrome:
          chrome-version: latest
      - browser-tools/install-chromedriver
      - run: ls -ltrh /home/testam
      - run: mkdir /home/testam
      - checkout
      - run_test
workflows:
  version: 2
  test_workflow:
    jobs:
      - chrome
